.completed{
    background-color: rgb(29, 226, 72);
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}

.inprogress{
    background-color: rgb(233, 229, 229);
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}

.done{
    color: white;
}

.list-item{
    min-width: 250px;
    max-width: 300px;
}