.completed{
    background-color: #64cf58;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}

.inprogress{
    background-color: #f1faee;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}

.done{
    color: white;
}

.list-item{
    min-width: 250px;
    max-width: 300px;
}